input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #cddcdf;
    border-radius: 4px;
    box-sizing: border-box;
    height: 40px;
    font-family: $heading-font;

    &::placeholder {
        color: #c1c1c1;
    }
}

input[type="radio"] {
    margin-right: 6px;
}

textarea {
    min-height: 120px;

    &::placeholder {
        color: #c1c1c1;
    }
}

.form-note {
    font-size: 1rem;
    color: #3e5164;
    text-align: center;
    margin-top: 1rem;
    font-weight: 300;

    &:before {
        content: "\f06a";
        font-family: $fa-font-family;
        padding-right: 5px;
    }

    &.gray {
        color: #3e5164;
        text-align: left;
    }

    a {
        text-decoration: underline;
        font-weight: bold;
    }
}

#gform_5,
#gform_1 {
    .wrapper {
        display: flex;
        gap: 35px;

        .left-column,
        .right-column {
            width: 50%;
            gap: 15px;
            display: flex;
            flex-direction: column;
        }
    }

    // Mobile-specific styles (up to 768px)
    @media (max-width: 768px) {
        .wrapper {
            flex-direction: column !important;
            gap: 0px;

            .left-column,
            .right-column {
                width: 100%;
            }
        }
    }
}

#gform_submit_button_1,
#gform_submit_button_5 {
    background: $primary-color;
    border: 0;
    color: #fff;
    padding: 10px 25px;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 40px;

    &:hover {
        color: $primary-color;
        border: 2px solid $primary-color;
        background-color: unset;
        cursor: pointer;
        padding: 8px 23px;
        font-weight: 500 !important;
    }
}

#gform_wrapper_2 {
    .gfield_required {
        color: #fff;
    }
}

.wp-block-button a,
#gform_submit_button_2 {
    background-color: #fff;
    color: #333;
    border-radius: 40px;
    border: 0px;
    padding: 11px 25px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 1.4px;
    margin-bottom: 0px;
    cursor: pointer;

    &:hover {
        background-color: unset;
        border: 2px solid #fff;
        color: #fff;
        padding: 9px 23px;
    }
}

#gform_browse_button_2_8 {
    border: 0px;
    color: #09202e;
    padding: 4px;
    font-size: 12px;
    cursor: pointer;
}

#gform_drag_drop_area_2_8 {
    padding: 10px;
}

#gfield_upload_rules_2_8,
.gform_required_legend {
    font-size: 0.875rem !important;
}

.constituent-form {
    margin-top: -80px;
    margin-bottom: -80px;
    padding: 30px !important;
    background: $primary-color;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    position: relative;
    position: relative;
    z-index: 2;

    .validation_message {
        background-color: unset !important;
        color: #ffbdbd !important;
        border: 1px solid #ffbdbd !important;
        padding: 2px 10px !important;
    }

    .gform-field-label {
        color: #fff !important;
        font-size: 16px !important;
        font-weight: 600 !important;
    }

    .gform_footer {
        padding: 15px 0 0px !important;
    }
}

.uagb-button__link {
    line-height: normal;
}

.online {
    .gfield_label {
        color: #414b5a;
        font-weight: 400;
    }
}

#gfield_upload_rules_2_8,
.gform_drop_instructions {
    font-size: 11px !important;
}

.gform_confirmation_message {
    background-color: #eefcea;
    border: 2px solid #2e8f00;
    color: #2e8f00;
    display: table;
    margin: auto;
    border-radius: 8px;
    padding: 40px;
}